$u: 1.25;
$d: 14em;
$p: .5em;
$o: 1.25em;
$l: 6px;

*, ::before { box-sizing: inherit; margin: 0 }



body {
	box-sizing: border-box;
}

article {
	--c: #{mix(#fff, darkorange, 25%)};
	--s0: calc(#{$o} + #{$l});
	--s1: calc(#{$o} + #{$l} + #{$p});
	place-self: center;
	position: relative;
	width: $d; height: $d;
	border: solid 0 transparent;
	border-width: 0 var(--s0) var(--s0) 0;
	padding: var(--s1) $p $p var(--s1);
	background: var(--c) padding-box;
	
	&:nth-child(2) {
		--c: #{invert(indigo)};
		filter: invert(1)
	}
	
	&::before {
		position: absolute;
		top: 0; left: 0;
		border: inherit;
		border-width: $o 0 0 $o;
		width: $d; height: $d;
		box-shadow: inset 0 0 0 $l var(--c);
		mix-blend-mode: difference;
		pointer-events: none;
		content: ''
	}
}

h3 {
	font-size: 1.5em;
	font-weight: 900;
	line-height: 1.75
}